@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');


/* Reset dei margini e dei padding del body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/1_Build-week/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/* Stili per il logo */
#logo {
    padding-top: 10em;

}

#logo img {
    width: 10em;
    height: auto;
}


/* Stili per l'header e titolo */
h1 {
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
    margin-top: 1em;
    font-weight: 400;
    line-height: 1.0;
    color: white;
}

/* Stili per i sottotitoli , paragrafi e liste*/
h2 {
    color: #d20094;
margin-bottom: 0;
}

p {
    color: #cec8c8;
    width: 50%;
}

#ol-Lista li {
    color: #cec8c8;
 ;
}

#ol-Lista li span {
    color: white;

    font-weight: 700;
}


/*+++++++++++++++++++++++++++++++++++++IMPOSTAZIONI+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#corpo-principale {
    padding-left: 10em;
}


/* Stili per il titolo evidenziato */
#grassetto-titolo {
    font-weight: 700;
}

/* Stili per il footer */

ul {
    margin-top: 3em;
    line-height: 1.5;
    padding-left: 1em;
}


/**********************************************FOOTER E BOTTONE****************************************************/

footer input,
footer p,
footer button {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;

    padding: 5px;
    font-size: smaller;
    font-weight: 700;
    color: white;
}

footer {
    margin-top: 4em;
}


footer button {
    margin-left: 2em;
    padding: 1.5vw 3.3vw;

    background-color: #00ffff;
    
    border: none;
    font-weight: 700;
    color: black;
    font-size: larger;
    text-decoration: none;
    box-shadow: 0 0px 15px #00ffff;
}






/**************************************************check del cavolo******************************************************/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    border: 2px solid white;
    margin-right: 5px;
    vertical-align: middle;
}

input[type="checkbox"]:checked+label::before {
    content: "\2713";
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    background-color: black;
}

label {
    color: white;
    vertical-align: middle;
    cursor: pointer;
}